body {
    background-image: url("img/nikolas-behrendt-220141-unsplash2.jpg");
    background-size: cover;
}

.container {
    padding: 200px 0;
}

.logo {
    width: 300px;
    display: block;
    margin: 30px 0;
}

.alert-validation {
    background-color: #ffffff;
    padding: 5px;
}

form {
    display: block;
    margin: 0 auto;
    width: 300px;
}

.form-group {
    margin-bottom: .5rem;
}

.form-control {
    border-radius: .1rem;
    border: none;
}

.remember-me {
    color: #ffffff;
    padding-bottom: 10px;
    margin-left: 5px;
}

.btn {
    border-radius: .1rem;
    padding: .5rem 0;
    font-weight: bold;
}

a {
    color: #ffffff;
}

.criar-conta {
    float: right;
    padding: 5px 10px 8px;
    margin: 30px;
}

.forgot-password:hover {
    text-decoration: underline;
    color: #ffffff;
}

footer .nav-link {
    color: #ffffff;
}

footer .nav-link:hover {
    text-decoration: underline;
}