body {
    background-image: url("img/user-signup-bg.jpg");
    background-size: cover;
}
.logo {
    width: 300px;
    margin: 50px auto;
}
form {
    margin-top: 100px;
}
.form-group {
    margin-bottom: .5rem;
}

.form-control {
    border-radius: .1rem;
    border: none;
}

.alert-validation {
    background-color: #ffffff;
    padding: 5px;
}

.btn {
    border-radius: .1rem;
    padding: .5rem;
    font-weight: bold;
    width: 100%;
}
a {
    color: #ffffff;
}
.container {
    max-width: 1500px;
}

select {
    background: url("img/keyboard_arrow_down_grey_192x192.png") no-repeat #354880;
    background-position: 145px center;
    -webkit-appearance: none;  /* Remove estilo padrão do Chrome */
    -moz-appearance: none;
}

footer .nav-link {
    color: #ffffff;
}

footer .nav-link:hover {
    text-decoration: underline;
}